body {
    background-color: whitesmoke;
    border: thick;
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
.left{
    display: block;
    background: indianred;
    min-height: inherit;
    width: 25%;
    height: 100%;
    float: left;
    position: fixed;
    flex-direction: column;
    padding-top: 7%;

}
/* .footer-logo{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    width : 10;
    height : 10;
} */

#about {
    height: 600px;
}

#education {
    height: 600px;
}

#work-experience {
    height: 600px;
}

#skills {
    height: 600px;
}

#interests {
    height: 600px;
}

.right{
    width: 80%;
    height: inherit;
    position: absolute;
    flex-direction: column;
    float: right;
    left : 15%;
    padding-left: 10%;
    padding-top: 10%;
    overflow-x:hidden;
}

/* .container{
    width:70%;
    height: 600px;

}
.container{
    width: 80%;
    height: 600px;
    position: absolute;
    flex-direction: column;
    float: right;
    left : 15%;
    padding-left: 10%;
    padding-top: 10%;
    overflow-x:hidden;
} */

.DisplayPicture{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 0.5em solid;


}
.footer-Logo{
    height: 5%;
    width: 5%;
}
.page-header{
    color: grey;
    ;
}
.lead{
    color: white;
}
.navbar-left{
    text-align: center;
    width: 100%;
}

.navigate-left{
    color: grey;
    text-anchor: inherit;
    text-decoration: none;
    text-align: center;
    display: block;
    text-align: center;

}
.navigate{
    position: relative;
    margin: right 10px;
    display: block;
    padding-bottom: 1.5vw;
    font: size 2em;;
    color: white;
    
}
.navIcons {
    padding: 20px;
    font-size: 10px;
    width: 10px;
    text-align: left;
    text-decoration: none;
    border-radius: 50%;
    border-color: black;
  }
.footer-Logo:hover{
    opacity: 0.7;
    color: indianred;
}

.footer-logo{
    display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 5%;
      }
